
<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>Ordine</title><link rel="stylesheet" href="/static/style.css"></head>
<body>
    {% if conferma %}
        <h2>Ordine inviato alla cassa. Grazie!</h2>
    {% else %}
        <h1>Ordina</h1>
        <form method="post" action="/invia_ordine">
            <label>N° Tavolo: <input name="tavolo" required></label><br>
            <label>Cognome: <input name="cognome" required></label><br>
            <h3>Menù</h3>
            {% for voce in menu %}
                <label>{{voce}} <input type="number" name="quantita_{{loop.index0}}" value="0" min="0"></label><br>
            {% endfor %}
            <button type="submit">Invia Ordine</button>
        </form>
    {% endif %}
</body>
</html>
